@import 'home';
@import 'sideBar';


$black60 : rgba(0, 0, 0, 0.6);

html{
    font-size: 62.5%;
    //makes REM = 10px (easier math)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    color: #000000;
    font-family: "Montserrat",sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600; //semibold

}
h2{
    font-size: 2rem;
    font-weight: 400; //normal
    color: $black60;
}

li{
    font-size: 2.5rem;
    font-weight: 300; //light
}

a{
    color: black;
    text-decoration: none;
}
.covid{
    color: rgba(174, 136, 0, 1);
}


.divider{
    height: 5rem;
}

@media screen and (max-width: 1040px){
    html{
        font-size: 40%;
        width: fit-content;
    }
    
    .home{
        padding: 3rem 2rem ;
        align-items: center;
        grid-template-columns:  1fr ;
        grid-template-rows: auto;

        .right{
            grid-column: 2/3;
            img{
                padding-top: 5rem;
                width: 300px;
            }
        }

        .left{
            h1{
                width: 80%;
            }
        }

        .skills{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        
    }
   

    .actions{
        display: none;
    }
    .logo-text{
        display: none;
    }
}

@media screen and (min-width: 1041px){
    .hamburger{
        display: none;
    }
}